<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="chips.css">
    <script src="https://kit.fontawesome.com/76236e6232.js" crossorigin="anonymous"></script>
</head>
<body>
   <main class="chips__wrapper" id="chips__wrapper"></main>
  <input type="text" placeholder="Enter New Chip" id="chip-input">
<script src="chips.js"></script>
</body>
</html>