<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="drawer.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <div class="drawer">
    <div class="drawer-title">
    <h2>Title</h2>
    <p>subtext</p>
    </div>
    <ol class="drawer-content">
    <li class="drawer-item item-active"> <i class="material-icons">inbox</i>
    Inbox</li>
    <li class="drawer-item item-active"><i class="material-icons">star</i>
    Star</li>
    <li class="drawer-item item-active"><i class="material-icons">send</i>
    Sent Mail</li>
    <li class="drawer-item item-active"><i class="material-icons">drafts</i>
    Drafts</li>
    </ol>
  </div>
</body>
</html>