<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="main-card">
    <div class="main-card-content">
     <div class="main-card-content-header">
    <div>
         <img src="https://picsum.photos/id/10/300/200" alt="image"/>
     </div>
     <div class="main-card-content-header-title">
         <h2>Our Changing Planet</h2>
         <h3>by Prathyusha</h3>
     </div>
     </div>
     <p class="main-card-content-body">
        Visit ten places on our planet that are 
        undergoing the biggest changes today.
     </p>
     </div>
     <div class="main-card-footer">
         <div class="main-card-footer-buttons">
             <button>Read</button>
             <button>Book Mark</button>
            </div>
<div class="main-card-footer-icons">
    <button>
        <img src="./images/heart.svg" alt="heart"/>
    </button>
    <button>
        <img src="./images/share.png" alt="share icon"/>
    
    </button>    
    <button>
        <img src="./images/drop-down.png" alt="drop-down"/>
    </button>  
      </div>
     </div>
     </div>
     <!-- card 2 -->
     <div class="main-card">
        <div class="main-card-content">
         <div class="main-card-content-header flex-col-rev">
            <div>
            <img src="https://picsum.photos/id/10/300/200" alt="image"/>
            </div>
         
         <div class="main-card-content-header-title">
             <h2>Our Changing Planet</h2>
             <h3>by Prathyusha</h3>
         </div>
         </div>
         <p class="main-card-content-body">
            Visit ten places on our planet that are 
            undergoing the biggest changes today.
         </p>
         </div>
         <div class="main-card-footer">
             <div class="main-card-footer-buttons">
                 <button>Read</button>
                 <button>Book Mark</button>
                </div>
    <div class="main-card-footer-icons">
        <button>
            <img src="images/heart.svg" alt="heart"/>
        </button>
        <button>
            <img src="images/share.png" alt="share icon"/>
        
        </button>    
        <button>
            <img src="images/drop-down.png" alt="drop-down"/>
        </button>  
         </div>
         </div>
         </div>
         <!--card 3  -->
         <div class="main-card">
            <div class="main-card-content">
             <div class="main-card-content-header">
                 <div>
                 <img src="https://picsum.photos/id/10/300/200" alt="image"/>
                 </div>
             
             <div class="main-card-content-header-title">
                 <h2>Our Changing Planet</h2>
                 <h3>by Prathyusha</h3>
             </div>
             </div>
             <p class="main-card-content-body">
                Visit ten places on our planet that are 
                undergoing the biggest changes today.
             </p>
             </div>
             <div class="main-card-footer">
                 <div class="main-card-footer-buttons">
                     <button>Read</button>
                     <button>Book Mark</button>
                    </div>
        <div class="dis-none">
            <button>
                <img src="images/heart.svg" alt="heart"/>
            </button>
            <button>
                <img src="images/share.png" alt="share icon"/>
            
            </button>    
            <button>
                <img src="images/drop-down.png" alt="drop-down"/>
            </button>  
     </div>
    </div>
    </div>
             
    <!-- card 4 -->
    <div class="main-card">
        <div class="main-card-content">
         <div class="main-card-content-header">
        <div>
             <img src="https://picsum.photos/id/10/300/200" alt="image"/>
        </div>
         
         <div class="main-card-content-header-title">
             <h2>Our Changing Planet</h2>
             <h3>by Prathyusha</h3>
         </div>
         </div>
         <p class="main-card-content-body">
            Visit ten places on our planet that are 
            undergoing the biggest changes today.
         </p>
         </div>
         <div class="main-card-footer">
             <div class="dis-none">
                 <button>Read</button>
                 <button>Book Mark</button>
                </div>
    <div class="main-card-footer-icons">
        <button>
            <img src="images/heart.svg" alt="heart"/>
        </button>
        <button>
            <img src="images/share.png" alt="share icon"/>
        
        </button>    
        <button>
            <img src="images/drop-down.png" alt="drop-down"/>
        </button>  
         </div>
         </div>
         </div>
         <!-- card 5 -->
         <div class="main-card">
            <div class="main-card-content">
             <div class="main-card-content-header flex-row">
              <div>
                <img src="https://picsum.photos/id/10/200/250" alt="image"/>
             </div>
             <div class="main-card-content-header-title">
                 <h2>Our Changing Planet</h2>
                 <h3>by Prathyusha</h3>
             </div>
             </div>
             <p class="dis-none">
                Visit ten places on our planet that are 
                undergoing the biggest changes today.
             </p>
             </div>
             <div class="main-card-footer">
                 <div class="main-card-footer-buttons">
                     <button>Read</button>
                     <button>Book Mark</button>
                    </div>
        <div class="main-card-footer-icons">
            <button>
                <img src="images/heart.svg" alt="heart"/>
            </button>
            <button>
                <img src="images/share.png" alt="share icon"/>
            
            </button>    
            <button>
                <img src="images/drop-down.png" alt="drop-down"/>
            </button>  
             </div>
             </div>
             </div>
             <!--card 6  -->
             
             <div class="main-card">
                <div class="main-card-content">
                 <div class="main-card-content-header rel">
            <img src="https://picsum.photos/id/10/300/200" alt="image">
                 
                 <div class="main-card-content-header-title content-header-abs">
                     <h2>Our Changing Planet</h2>
                     <h3>by Prathyusha</h3>
                 </div>
                 </div>
                 <p class="main-card-content-body">
                    Visit ten places on our planet that are 
                    undergoing the biggest changes today.
                 </p>
                 </div>
                 <div class="main-card-footer">
                     <div class="main-card-footer-buttons">
                         <button>Read</button>
                         <button>Book Mark</button>
                        </div>
            <div class="main-card-footer-icons">
                <button>
                    <img src="images/heart.svg" alt="heart"/>
                </button>
                <button>
                    <img src="images/share.png" alt="share icon"/>
                
                </button>    
                <button>
                    <img src="images/drop-down.png" alt="drop-down"/>
                </button>  
                 </div>
                 </div>
                 </div>
</body>
</html>